<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="proto.android.stormy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Stormy"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stormy">

        <activity
            android:name=".radar.RadarImageActivity"
            android:theme="@style/ThemeSlidr" />

        <activity
            android:name=".citypicker.CityPickerActivity"
            android:theme="@style/ThemeSlidr" />

        <activity
            android:name=".home.HomeActivity" />

        <activity-alias
            android:name=".LauncherActivity"
            android:targetActivity=".home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>